<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flickr DocsPics</title>
</head>
<body>
    <h1>Search Flickr IDs</h1>

    <%= form_with url: static_pages_path, method: :get do |form| %>
    <%= form.label :query, 'Flickr ID'%>
    <%= form.text_field :query %>
    <%= form.submit 'Search'%>
    <% end %>



    <% if @search.nil? %>
    <%# if the ID isn't valid%>
    <% flash.each do |type, msg|%>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <% else %>
      <% @search.each do |hi| %>
        <% server = hi.server %>
        <% id = hi.id %>
        <% secret = hi.secret %>
        <div>
          <img src="<%= "https://live.staticflickr.com/#{server}/#{id}_#{secret}_w.jpg" %>" alt="#"></img>
        </div>
      <% end %>
    <% end %>


</body>
</html>